/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1em;
    background-color: #fffdfa;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Start your base/mobile styles here */

html, body {
    font-size: 14px;
    font-family: 'Domine', serif;
    line-height: 1.25em;
    /* Sets default font-size to 16px, ensuring 1em = 16px; */
}

h1 {
    font-family: 'Domine', serif;
    font-size: 28px;
    line-height: 1em;
}

img {
    display: block;
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
    margin: 0 auto;
    margin-top: 10px;
}


/*fix */

figcaption {
    font-size: 12px;
    color: #808080;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    line-height: 1em;
}

input[type=text] {
    display: block;
    text-align: center;
    margin: auto;
    width: 150px;
    border: 1px solid #818181;
}

button {
    display: block;
    margin: auto;
    text-align: center;
    width: 40%;
    background-color: #555555;
    color: #FFFFFF;
    font-family: 'Domine', serif;
    font-size: 16px;
    border-radius: 8px;
}

.body {
    margin-left: 15px;
    margin-right: 15px;
}

.body_last {
    margin: 15px;
}

.title {
    margin: 0 auto;
    width: 90%;
    margin-bottom: 5px;
}

.byline {
    margin: 0 auto;
    width: 90%;
    margin-bottom: 5px;
    font-family: 'Space Mono', monospace;
    color: #B43C2F;
}

.lead_img {
    display: block;
    max-width: 480px;
    max-height: 450px;
    width: 100%;
    height: 100%;
}

.fruit {
    margin: 0 auto;
    padding: 10px;
}

.fruitcap {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.results {
    display: block;
    text-align: center;
    width: 40%;
    border: 1px solid #818181;
}


/* Tablet/Desktop overrides */

@media(min-width: 681px) {
    /* Any adjustments for tablets and larger go here. Note these styles will be applied to anything 681px or larger -- so tablet AND desktop */
}

.title {
    margin: 0 auto;
    width: 80%;
    margin-top: 20px;
}

@media(min-width: 729px) {
    /* Any adjustments for desktop and larger go here. Note these styles will be applied to anything 729px or larger -- so desktop */
}
